node-modules
dist
Makefile~
package.json~
babel.config~
node-modules
node_modules
src/bin/.goutputstream-T0EWZZ
src/bin/brain-even.js~
src/bin/brain-games.js~
src/bin/even.js~
src/index.js~
README.md~
README.md~
src/bin/calc.js~
src/bin/calc.js~
